<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title></title>
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" /> 
<meta name="description" content="" />
<style>
	body {
  		font-family: Verdana;
		color: black;
		font-size: 14px;
	}
	
	select {
		font-size: 1em;
	}

	textarea { 
		font-size: 2em;
	}
	button {
		border-radius: 5px;
		font-size: 2em;
	}

	select[name=msgtype] {
		margin-bottom: 20px;
	}

	.content {
		text-align: center;
	}
	.submit {
		width: 200px;
		height: 50px;
		margin-top: 20px;
	}

	.grey-text {
		color: lightgray;
	}

</style>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</head>
<body>
<% include ../partials/nav %>
<div class="content">
